#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  max-width: 800px;
  margin: 0 auto;
}

input:focus{
  outline: none;
}

#app h1 {
  font-size: 40px;
}

.todo {
  border: 1px solid #cccccc;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;
}

.del {
  color: red;
  position: absolute;
  top: 5px;
  right: 10px;
  margin: 0;
  cursor: pointer;
}

.add-todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-todo input {
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 2px 10px;
}

.add-todo button {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #d8d8d8;
  height: 46px;
  width: 100px;
  font-size: 18px;
  margin-left: 5px;
}